[Unit]
Description=Shell script that starts up the server

[Service]
ExecStart=/home/ec2-user/harbour-space-cloud-module/scripts/start_server.sh

[Install]
WantedBy=multi-user.target
